:root {
  --primary-color: #198751;
  --icon-circle-color: #185d3b;
  --bg-color: #f1f1f1;
}

/* 
- Crear circulos verdes que rodeen los logos de redes sociales
- Pasar a gris los <Links> del <Box> del medio
 */

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

/* Segundo <Box> - Nosotros/Servicios/Recursos */
.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-links-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-links-section-title {
  color: var(--primary-color);
}

/* Tercer <Box> - Social Media */
.footer-social {
  text-align: center;
  color: var(--primary-color);
}
